<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<SplitTheRaid.DisabledMode>Disabled (vanilla behavior). Note: All scheduled raids will still happen.</SplitTheRaid.DisabledMode>
	<SplitTheRaid.SplitModeSettings>Split mode settings</SplitTheRaid.SplitModeSettings>
	<SplitTheRaid.SplitAffectSieges>Affect sieges</SplitTheRaid.SplitAffectSieges>
	<SplitTheRaid.SplitAffectAllyRaids>Affect ally raids</SplitTheRaid.SplitAffectAllyRaids>
	<SplitTheRaid.SplitKeepSameFaction>Keep the same faction</SplitTheRaid.SplitKeepSameFaction>
	<SplitTheRaid.SplitKeepSameStrategy>Keep the same raid strategy</SplitTheRaid.SplitKeepSameStrategy>
	<SplitTheRaid.Settings.SplitPointsMultiplier>Points multiplier per raid:</SplitTheRaid.Settings.SplitPointsMultiplier>
	<SplitTheRaid.SplitMinPointsAmountToSplit>Minimum raid points to allow splitting:</SplitTheRaid.SplitMinPointsAmountToSplit>
	<SplitTheRaid.SplitExtraRaids>Extra raids amount:</SplitTheRaid.SplitExtraRaids>
	<SplitTheRaid.SplitHoursBetweenRaids>Hours between each raids:</SplitTheRaid.SplitHoursBetweenRaids>
	<SplitTheRaid.ConstantModeSettings>Constant mode settings</SplitTheRaid.ConstantModeSettings>
</LanguageData>